@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin largeMobile {
  @media (min-width: $large-mobile-breakpoint) {
    @content;
  }
}

@mixin button {
  border: solid 1px;
  border-radius: 10px;
  padding: 0.5em 0.5em;
}
