@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  flex-wrap: wrap;
}

.details {
  display: flex;
  flex-wrap: wrap;
}

.image {
  max-height: 15em;
  max-width: 15em;
}

.tech {
  padding: 1em 1em;
}
