@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  flex-direction: row;
}

.spacing {
  padding-right: 0.75em;
}

.blurb {
  padding-bottom: 1em;
}

.resumeButton {
  border: solid white 1px;
  padding: 0.5em;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  color: black;
}
