@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  padding: 1em;
  text-align: center;
}

.spacing {
  padding-right: 0.75em;
}

.blurb {
  padding-bottom: 1em;
  font-size: 1.15em;
}

.resumeButton {
  border: solid white 1px;
  padding: 0.5em;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  color: black;
}
