@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  padding: 1em;
  text-align: center;
}

.headline {
  background-color: $secondary-colour;
}

.photoButton {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.profile {
  max-height: 20em;
  max-width: 15em;
  padding: 1em 1em;
  border-radius: 20em;
}

.resumeButton {
  border: solid white 1px;
  padding: 0.5em;
  text-decoration: none;
  background-color: $secondary-colour;
  border-radius: 10px;
}
