@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

.logo {
  height: 1.5em;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding-bottom: 1em;
}
